<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Base Title
        {% endblock %}
    </title>
</head>
<body>

{% autoescape on %}
    {% block body %}
        {% if perms.foo %}
            <p>You have permission to do something in the foo app.</p>
            {% if perms.foo.add_product %}
                <p>You can vote!</p>
            {% endif %}
            {% if perms.foo.add_driving %}
                <p>You can drive!</p>
            {% endif %}
        {% else %}
            <p>You don't have permission to do anything in the foo app.</p>
        {% endif %}
        body
    {% endblock %}
{% endautoescape %}

<div>
    {% now 'H:i' %}
</div>
<div>
    {% now 'l' as current_weekday %}
    Today is {{ current_weekday|center:"15" }}
</div>
</body>
</html>