{% extends 'shopapp/base.html' %}

{% block title %}
    Update product
{% endblock %}

{% block body %}
    <h1>Update product</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {% if perms.shopapp.add_product %}

                {{ form.as_p }}

            <button type="submit">Update</button>
            {% endif %}
            {% if shopapp.product.created_by.pk %}
                {{ form.as_p }}

            <button type="submit">Update</button>
            {% else %}
                <p>You don't have permission to change product</p>
            {% endif %}
        </form>
    </div>
    <div>
        <a href="{% url 'shopapp:products_details' pk=object.pk %}">Back to product #{{ object.pk }}</a>
    </div>
{% endblock %}